repos:
  - repo: local
    hooks:
      - id: run-tox
        name: Run tox
        entry: ./.venv/bin/tox
        language: system
        pass_filenames: false
        always_run: true
        verbose: true